###
### Document does not exist message
###
###
#if ($services.distribution.jobStatus && $services.distribution.jobStatus.state.name() != 'FINISHED' && $services.distribution.canDisplayDistributionWizard())
  $response.sendRedirect($xwiki.getURL('XWiki.Distribution', 'distribution', "xredirect=$escapetool.url($xwiki.relativeRequestURL)"))
#else
  #set($querystring = "step=form&spacename=${doc.space}&documentname=${doc.name}")
  #set($documentredirectref = $services.model.createDocumentReference($xcontext.mainWikiName, 'EESCCode', 'DocumentCreate'))
  $response.sendRedirect($xwiki.getURL($documentredirectref, 'view', $querystring))
#end
