[submodule "eesc-xwiki-applications/application-task"]
	path = eesc-xwiki-applications/application-task
	url = https://github.com/xwiki-labs/application-task.git
	branch = eesc
[submodule "eesc-xwiki-applications/application-project-management"]
	path = eesc-xwiki-applications/application-project-management
	url = https://github.com/xwiki-labs/application-project-management.git
	branch = eesc
