# Build
target

# IDEA
*.iml
*.ipr
*.iws
.idea
overlays

# Eclipse
.classpath
.project
.settings
.checkstyle
.fbprefs
bin
target-eclipse

# NetBeans
nbproject

# Other
*.log.*
*.log
*~
.*.swp
eesc-deploy.conf
eesc-service.conf
