###
### Header for EESC
###
### Provide functional buttons (create, edit, share, delete)
###
<style type="text/css">
.eesc-headercreate {
  float: right;
}
.buttonwrapper form {
  display: inline-block;
}
.eesc-create.task {
  background-color: #00BA00 !important;
  background-image: linear-gradient(to bottom, #80ED80 0%, #00BA00 66%) !important;
}
.eesc-create.task:hover {
  background-color: #00BA00 !important;
  background-image: linear-gradient(to top, #80ED80 0%, #00BA00 66%) !important;
}
.eesc-create.project {
  background-color: #BABABA !important;
  background-image: linear-gradient(to bottom, #EDEDED 0%, #BABABA 66%) !important;
}
.eesc-create.project:hover {
  background-color: #BABABA !important;
  background-image: linear-gradient(to top, #EDEDED 0%, #BABABA 66%) !important;
}
.eesc-delete {
  background-color: #BA0000 !important;
  background-image: linear-gradient(to bottom, #ED8080 0%, #BA0000 66%) !important;
}
.eesc-delete:hover {
  background-color: #BA0000 !important;
  background-image: linear-gradient(to top, #ED8080 0%, #BA0000 66%) !important;
}
</style>
<div class="buttons">
  <span class="eesc-headerdocument">
  #set($isTask = false)
  #set($isProject = false)
  #set($task = $doc.getObject('TaskManager.TaskManagerClass'))
  #set($project = $doc.getObject('ProjectsCode.ProjectsCodeClass'))
  #if($!task)
    #set($isTask = true)
  #end
  #if($!project)
    #set($isProject = true)
  #end
  #set($documentref = $services.model.resolveDocument($doc.fullName))
  #set($projectshareref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectShare'))
  #set($projectcreateref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectCreate'))
  #set($tasktemplateref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'ProjectsCode', 'TaskManagerTemplate'))
  #set($newtaskname = "$xwiki.getUniquePageName('TaskManager',$services.localization.render('eesc.home.task'))")
  #set($newtaskref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'TaskManager',$newtaskname))
  #if(!$doc.isHidden() && $hasEdit)
    <span class="buttonwrapper">
      <form method="GET" action="${xwiki.getURL($documentref, 'edit', '')}">
        <input type="submit" class="button" value="${services.localization.render('eesc.template.eescheader.project.edit')}" /> 
      </form>
    </span>
    #if($doc.hasAccessLevel("delete"))
      #if($isProject)
        <span class="buttonwrapper">
          <form method="GET" action="${xwiki.getURL($projectshareref, 'view', '')}">
            <input type="hidden" name="step" value="form" />
            <input type="hidden" name="projectname" value="Projects.${doc.name}" />
            <input type="submit" class="button" value="${services.localization.render('eesc.template.eescheader.project.share')}" /> 
          </form>
        </span>
      #end
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($documentref, 'delete', '')}">
          <input type="submit" class="button eesc-delete" value="${services.localization.render('eesc.template.eescheader.project.delete')}" /> 
        </form>
      </span>
    #end
  #end
    </span>
    <span class="eesc-headercreate">
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($projectcreateref)}">
          <input type="hidden" name="step" value="form" />
          <input type="hidden" name="referer" value="${doc.fullName}" />
          <input type="submit" class="button eesc-create project" value="${services.localization.render('eesc.template.eescheader.create.project')}" />
        </form>
      </span>
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($newtaskref,'edit')}">
          <input type="hidden" name="template" value="${tasktemplateref}" />
          #if($isProject)
            <input type="hidden" name="TaskManager.TaskManagerClass_0_project" value="${doc}" />
            <input type="hidden" name="parent" value="${doc}" />
          #else
            <input type="hidden" name="parent" value="Main.WebHome" />
          #end
          <input type="submit" class="button eesc-create task" value="${services.localization.render('eesc.template.eescheader.create.task')}" />
        </form>
      </span>
    </span>
</div>
