###
### Header for EESC
###
### Provide functional buttons (create, edit, share, delete)
###
<style type="text/css">
.eesc-headercreate {
  float: right;
}
.buttonwrapper form {
  display: inline-block;
}
.eesc-create {
  background-color: #00BA00 !important;
  background-image: linear-gradient(to bottom, #80ED80 0%, #00BA00 66%) !important;
}
.eesc-create:hover {
  background-color: #00BA00 !important;
  background-image: linear-gradient(to top, #80ED80 0%, #00BA00 66%) !important;
}
.eesc-delete {
  background-color: #BA0000 !important;
  background-image: linear-gradient(to bottom, #ED8080 0%, #BA0000 66%) !important;
}
.eesc-delete:hover {
  background-color: #BA0000 !important;
  background-image: linear-gradient(to top, #ED8080 0%, #BA0000 66%) !important;
}
</style>
<div class="buttons">
  <span class="eesc-headerdocument">
  #set($projectref = $services.model.resolveDocument($doc.fullName))
  #set($projectshareref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectShare'))
  #set($projectcreateref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectCreate'))
  #if(!$doc.isHidden() && $hasEdit)
    <span class="buttonwrapper">
      <form method="GET" action="${xwiki.getURL($projectref, 'edit', '')}">
        <input type="submit" class="button" value="${services.localization.render('eesc.template.eescheader.project.edit')}" /> 
      </form>
    </span>
    #if($doc.hasAccessLevel("delete"))
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($projectshareref, 'view', '')}">
		  <input type="hidden" name="step" value="form" />
		  <input type="hidden" name="projectname" value="Projects.${doc.name}" />
          <input type="submit" class="button" value="${services.localization.render('eesc.template.eescheader.project.share')}" /> 
        </form>
      </span>
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($projectref, 'delete', '')}">
          <input type="submit" class="button eesc-delete" value="${services.localization.render('eesc.template.eescheader.project.delete')}" /> 
        </form>
      </span>
    #end
  #end
    </span>
    <span class="eesc-headercreate">
      <span class="buttonwrapper">
        <form method="GET" action="${xwiki.getURL($projectcreateref)}">
          <input type="hidden" name="step" value="form" />
          <input type="hidden" name="referer" value="${doc.fullName}" />
          <input type="submit" class="button eesc-create" value="${services.localization.render('eesc.template.eescheader.create.project')}" />
        </form>
      </span>
    </span>
</div>
