###
### Header for EESC
###
### Provide functional buttons (create, edit, share, delete)
###
#set($isTask = false)
#set($task = $doc.getObject('TaskManager.TaskManagerClass'))
#if($!task)
  #set($isTask = true)
#end
#set($isProject = false)
#set($project = $doc.getObject('ProjectsCode.ProjectsCodeClass'))
#if($!project)
  #set($isProject = true)
#end
#set($hasProject = false)
#set($query = "from doc.object('ProjectsCode.ProjectsCodeClass') as project where doc.fullName not like '%Template'")
#if($services.query.xwql($query).execute().size() > 0)
  #set($hasProject = true)
#end
#set($documentref = $services.model.resolveDocument($doc.fullName))
#set($projectshareref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectShare'))
#set($projectcreateref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'EESCCode', 'ProjectCreate'))
#set($tasktemplateref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'ProjectsCode', 'TaskManagerTemplate'))
#set($newtaskname = "$xwiki.getUniquePageName('TaskManager',$services.localization.render('eesc.home.task'))")
#set($newtaskref = $services.model.createDocumentReference($services.wiki.currentWikiId, 'TaskManager',$newtaskname))
<style type="text/css">
.form-inline {
  display: inline-block;
}
.text-right {
  float: right;
}
</style>
<span class="text-left">
  <form class="form-inline" method="GET" action="${xwiki.getURL($projectcreateref)}">
    <input type="hidden" name="step" value="form" />
    <input type="hidden" name="referer" value="${doc.fullName}" />
    <input type="submit" class="btn btn-success" value="${services.localization.render('eesc.template.eescheader.create.project')}" />
  </form>
  #if($hasProject)
    <form class="form-inline" method="GET" action="${xwiki.getURL($newtaskref,'edit')}">
      <input type="hidden" name="template" value="${tasktemplateref}" />
      #if($isProject)
        <input type="hidden" name="TaskManager.TaskManagerClass_0_project" value="${doc}" />
        <input type="hidden" name="parent" value="${doc}" />
      #else
        <input type="hidden" name="parent" value="Main.WebHome" />
      #end
      <input type="submit" class="btn btn-success" value="${services.localization.render('eesc.template.eescheader.create.task')}" />
    </form>
  #end
</span>
<span class="text-right">
  #if(!$doc.isHidden() && $hasEdit)
    <form class="form-inline" method="GET" action="${xwiki.getURL($documentref, 'edit', '')}">
      <input type="submit" class="btn btn-primary" value="${services.localization.render('eesc.template.eescheader.project.edit')}" /> 
    </form>
    #if($doc.hasAccessLevel("delete"))
      #if($isProject)
      <form class="form-inline" method="GET" action="${xwiki.getURL($projectshareref, 'view', '')}">
        <input type="hidden" name="step" value="form" />
        <input type="hidden" name="projectname" value="${doc.name}" />
        <input type="submit" class="btn btn-primary" value="${services.localization.render('eesc.template.eescheader.project.share')}" /> 
      </form>
      <form class="form-inline" method="GET" action="${xwiki.getURL($documentref, 'delete', '')}">
        <input type="submit" class="btn btn-danger" value="${services.localization.render('eesc.template.eescheader.project.delete')}" /> 
      </form>
    #end
  #end
#end
</span>
